/* ==========================================================================
   Responsive Media Queries
   ========================================================================== */
img {
  max-width: 100%; height: auto;
}
.ie8 img {
  max-width: none;
}

@media screen and (max-width: 890px) {

  /* main wrappers */
  body {
    min-width: inherit;
  }
  .outer_wrap {
    min-width: inherit;
    max-width: 100%;
    width: 100%;
  }
  .inner_wrap {
    padding: 0;
  }
  #breadcrumbs_container .inner_wrap,
  #main .inner_wrap,
  #footer .inner_wrap {
    padding: 0 3px;
  }
  #footer_content {
    margin-bottom: 1em;
  }

  /* layout */
  img.logo {
    max-width: 50%;
    left: 5px;
    top: 5px;
  }
  #breadcrumbs_content, #main_content, #footer_content {
    padding: 0 10px;
  }
  #center_column_inner_wrap,
  .full-width #center_column_inner_wrap  {
    padding: 0;
  }

  #main_section,
  #main_sidebar,
  #right_column,
  .sidebar-second #center_column,
  .sidebar-second #center_column_inner_wrap {
    clear: both;
    display: block;
    left: 0;
    padding: 0;
    width: 100%;
  }
  #main_sidebar_inner_wrap {
    border: none;
    padding: 0;
  }

  .cms-2col-50-50-stacked .column,
  .cms-3col-33-33-33-stacked .column {
    width: 100%;
  }

  /* Header Title */
  #title_area_content {
    padding: 0 0.5em;
  }
  #site_title #title.heading {
    padding: 0;
  }
  #site_title #title.heading h1,
  .has-header-image #site_title #title.heading h1 {
    font-size: 1.8em;
    padding: 0.25em 5px;
    width: auto;
  }
  .has-header-image #site_title #title.heading h1 {
    bottom: 0;
    left: 0;
    padding: 0 5px;
    text-shadow: 1px 1px 1px #373737;
  }
  .has-header-image img.logo {
    max-width: 25%;
  }

  /* Text */
  #main #page_title h2 {
    font-size: 1.4em;
    padding: 0.25em 0 0;
  }

  /* Menu */
  #menu-toggle a,
  a.user-menu-toggle {
    display: block;
  }
  #nav ul,
  .mobile-menu {
    margin: 0;
  }
  #nav .bar_1 ul li,
  .mobile-menu li {
    border-bottom: 1px solid #99A9BB;
    border-left: none;
    float: none;
    list-style: none;
  }

  /* User Menu */
  a.user-menu-toggle {
    background-image: url("../images/icon-user.png");
    background-repeat: no-repeat;
    background-position: -1px 0;
    border: none;
    width: 30px;
    height: 30px;
    padding: 0;
  }

  .user-menu {
    position: absolute;
    left: 0px;
    right: 0px;
    top: 38px; /* Magic numbers are bad, but because this is absolutely positioned there isn't really a way around it at the moment. */
    width: 100%;
    z-index: 11;
  }
  .contextual-links-region .user-menu {
    min-width: 200px;
  }
  .user-menu.mobile-menu a {
    background-color: #C99700;
    margin-top: 0;
    padding: 0.8em 1em;
  }
  .user-menu.mobile-menu a:hover {
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
  }

  /* Search Form */
  .block-search-form {
    position: absolute;
    right: 0;
    top: -50px;
    -webkit-transition: top 0.15s;
    -moz-transition: top 0.15s;
    -o-transition: top 0.15s;
    transition: top 0.15s;
  }
  .block-search-form.is-visible {
    top: 0;
  }


  /* Misc */
  #ucdavis_logo  {
    margin-right: .5em;
  }

}

@media screen and (max-width: 500px) {
  .has-logo #site_title #title_area_content {
    padding: 0.25em 0;
    text-align: center;
  }
  .has-logo #site_title #title.heading img {
    display: none;
  }
  .has-logo #site_title #title.heading h1 {
    color: #000000;
    position: relative;
    text-shadow: none;
  }
  img.logo,
  .has-header-image img.logo {
    max-width: 96%;
    padding: 0.25em 0;
    top: 0;
    left: 0;
    position: relative;
  }


  .has-header-image #site_title #title_area_content {
    padding: 0;
    text-align: center;
  }
}

/* ==========================================================================
   Admin Tabs and Toolbars
   ========================================================================== */
@media screen and (max-width: 500px) {
  ul.primary {
    padding-left: 5px;
  }
  ul.primary li {
    font-size: 75%;
  }

  #toolbar {
    display: none;
  }
  body.toolbar {
    padding-top: 0 !important;
  }
  #panels-ipe-control-container {
    display: none !important;
  }
}