/* fix the link underline */
a {
  border-bottom: none;
  text-decoration: underline;
}

/* For image replacement */
.ir { display: block; text-indent: -999em; overflow: hidden; background-repeat: no-repeat; text-align: left; direction: ltr; }

/* Base HTML fixes */
fieldset {
  border: 1px solid #99A9BF;
}
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #CCD4E0;
  margin: 1em 0;
  padding: 0;
}

#site_title #title.heading h1 {
  width: 50%;
}

.full-width #main_section {
  width: 100%;
}
.full-width #center_column_inner_wrap {
  padding-right: 20px;
}

/* fix overflow hidden not allowing dropdowns */
#header,
#header_content {
  overflow: visible;
}

/* menu */
.nav_background,
.nav_content {
  overflow: visible;
}
a.btn-menu {
  display: none;
  border: none;
  color: #ffffff;
  float: left;
  font-size: 100%;
  font-weight: normal;
  line-height: 1.5;
  overflow: hidden;
  margin: 4px 0 0 0.5em;
  padding: 3px 10px;
  text-align: center;
  text-decoration: none;
}
a.btn-menu:hover {
  background-color: #4d688c;
}

/* superfish */
a > .sf-sub-indicator {
  top: 1em;
}
#nav .sf-menu a.sf-with-ul {
  padding-right: 1.75em;
}
#nav .sf-menu ul {
  margin-left: 0;
}
#nav .sf-menu > .sf-depth-1 > ul {
  left: -1px;
  top: auto;
}
#nav .sf-menu ul li{
  font-size: 1em;
}
#nav .sf-menu ul a {
  background-color: #062D59;
  font-size: 0.85em;
}
.mobile-menu ul {
  display: none;
  margin: 0;
  padding: 0;
}
.mobile-menu li li {
  background-color: #1A3E68;
}
.mobile-menu li li li {
  background-color: #335379;
}
.mobile-menu li li li li {
  background-color: #4D688C;
}


/* menu_block */
#main .nav_second ul li.leaf,
#main .nav_second ul li.expanded,
#main .nav_second ul li.collapsed {
  list-style: none;
  font-size: 1em;
  padding: 0px;
}
#main .nav_second a {
  text-decoration: none;
}
.nav_second .expanded li a:before {
  content: "- ";
}
.nav_second .expanded li li a:before {
  content: "-- ";
}
.nav_second ul li.here {
  background-position: -25px -28px;
}
.nav_second li.here > a:hover {
  background: none;
}

/* breadcrumb */
#breadcrumbs li a {
  border-bottom: none;
}

/* right sidebar image */
.content_box img {
  height: auto;
}
#main .content_box p.caption {
  font-size: 0.75em;
}


/* admin tabs */
.tabs .primary {
  border-bottom: 1px solid #222222;
}
.tabs .primary li a {
  background-color: #072E5A;
  border-color: #222222;
  color: #FFFFFF;
  display: inline-block;
  padding: 2px 1em;
  margin: 0px;
}
.tabs .primary li.active a {
  background-color: #667D9D;
  border: 1px solid #222222;
  border-bottom: none;
  color: #FFFFFF;
}
.tabs .primary li a:hover {
  background: #4D688C;
  border: 1px solid #222222;
  border-bottom: none;
  color: #FFFFFF;
}
#main_content .tabs .primary li a:visited {
  color: #FFFFFF;
}

/* User Menu */
.region-header-top #block-system-user-menu {
  float: left;
}

.user-menu,
.user-menu li {
  list-style: none;
  float: left;
  margin: 0px;
  padding: 0px;
}
.user-menu li.leaf {
  list-style: none;
}
.user-menu a {
  border-bottom: none;
  display: block;
  margin-top: 4px;
  padding: 8px 1em;
  text-decoration: none;
}
.user-menu a:hover {
  background: #4D688C;
  color: #FFFFFF;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  border-radius: 7px;
}

/* node */
.submitted {
  color: #373737;
  font-size: 0.8em;
}
.field {
  margin-bottom: 1em;
}
.field-item {
  font-size: 0.9em;
  line-height: 1.2;
}
.field-item  p {
  font-size: 1em;
  line-height: 1.2;
}
.field-type-image  a {
  text-decoration: none;
  border-bottom: none;
}
.field-name-field-image img {
  float: right;
  margin: 0em 0em 1em 1em;
}
.node-teaser .field-name-field-image img {
  float: left;
  margin: 0em 1em 1em 0em;
}
ul.links {
  clear: both;
  float: right;
  margin-top: 0px;
}

/* comments */
#comments {
  border: 1px solid #E5C44D;
  clear: both;
  margin-top: 60px;
  padding: 0px 30px 10px 30px;
}

#comments h2.title {
  color: #002855;
  background-color: #FBF6E5;
  border-bottom: 1px solid #E5C44D;
  font-size: 1em;
  font-weight: normal;
  line-height: 140%;
  margin: 0px -30px 0.15em;
  padding: 0.4em 10px;
  text-transform: uppercase;
}
.new {
  color: #FF0000;
}

/* Form */
#main_section .cke_wrapper table {
  margin: 0px;
}
#main_section .cke_wrapper table td {
  border: none;
  padding: 0;
}
.form-submit {
  background-color: #072E5A;
  border: 1px solid #222222;
  color: #FFFFFF;
  cursor: pointer;
  margin-right: 10px;
  padding: .5em 1.5em;
}
.form-submit:hover {
  background: #4D688C;
  border-color: #222222;
  color: #FFFFFF;
}
#block-user-login {
  margin: 0 1em 1.5em 0;
  padding: 0 0 0 25px;
}
#block-user-login h3 {
  border-bottom: 1px solid #DAAA00;
  color: #002855;
  font-size: 1.1em;
  margin: 0;
  padding: 0.4em 10px 0.2em 0;
}
#block-user-login  label {
  font-size: 0.9em;
  font-weight: normal;
}
#block-user-login  input.form-text {
  border: 1px solid #CCD4E0;
  padding: 4px 0px;
  width: 90%;
}
#block-user-login .item-list ul,
#block-user-login .item-list li {
  list-style: none;
  line-height: 1.4;
  margin: 0px;
  padding: 0px;
}

/* Search Form */
.block-search-form {
  float: left;
  margin-top: 4px;
}
.block-search-form .form-text {
  border: none;
  height: 30px;
  margin: 0 -0.5em 0 0;
  padding: 0 0 0 0.5em;
  min-width: 125px;
}
.block-search-form .form-submit {
  height: 30px;
  margin-left: 0;
  padding: 0.5em;
}
.block-search-form .container-inline div {
  display: inline-block;
  margin: 0;
  vertical-align: top;
}

/* Misc Fixes for Drupal */
.contextual-links a {
  border-bottom: none;
}

/* layout */
#main_section {
  display: inline;
  left: 20%;
  position: relative;
}
.full-width #main_section {
  left: 0;
}
#main_sidebar {
  clear: none;
  display: inline;
  left: -80%;
  position: relative;
}

/* right column settings */
.sidebar-second #center_column_inner_wrap {
  padding-right: 20px;
}
.sidebar-second #center_column {
  width: 75%;
}
.sidebar-second #right_column {
  display: block;
}

/* panels layouts */
.modal-content a {
  border: none;
}
.panels-ipe-editing #main_sidebar_inner_wrap,
#panels-dnd-main #main_sidebar_inner_wrap,
.panels-ipe-editing #right_column,
#panels-dnd-main #right_column {
  padding-top: 0;
}
.cms-2col-50-50-stacked .column {
  width: 50%;
}
.cms-3col-33-33-33-stacked .column {
  width: 33%;
}
.bottom_column {
  clear: both;
}

/* logo used */
img.logo {
  max-width: 96%;
  padding-top: 32px;
}
.has-logo #site_title #title.heading {
  padding-top: 0;
}

/* Header image used */
.has-header-image #site_title #title_area_content {
  padding: 0;
}
.has-header-image #site_title #title {
  margin: 0;
  padding: 0;
  position: relative;
  float: none;
}
.has-header-image #site_title #title.heading {
  padding-top: 0;
}
.has-header-image #site_title #title.heading h1 {
  font-weight: normal;
  font-family: "Georgia", "Times", serif;
  font-size: 2.5em;
  color: #FFF;
  position: absolute;
  z-index: 1;
  left: 0.5em;
  bottom: 0.365em;
}
.has-header-image.has-logo #site_title #title.heading h1 {
  bottom: 0;
}
.has-header-image #site_title #title.heading span.small {
  font-size: 0.85em;
}

.has-header-image #site_title #title.heading img {
  width: 100%;
  position: relative;
  z-index: 0;
}

.has-header-image img.logo {
  left: 10px;
  position: absolute;
  top: 10px;
  z-index: 2;
  padding: 0;
}

/* ==========================================================================
   CKeditor Styles
   ========================================================================== */
/* Alignments */
.align-left {
  float: left;
  margin: 0 1.5em 0.75em 0;
}
.align-right {
  float: right;
  margin: 0 0 0.75em 1.5em;
}
img.align-left,
img.align-right {
  /*border: 3px solid #D3D3D3;*/
}

.clear-align {
  clear: both
}

/* buttons */
a.button,
a.button-lg,
#main_content a.button,
#main_content a.button-lg {
  background-color: #072E5A;
  border: 1px solid #222222;
  color: #FFFFFF;
  cursor: pointer;
  margin-right: 0.5em;
  padding: 0.5em 1.5em;
  text-decoration: none;
}
a.button:hover,
a.button-lg:hover,
#main_content a.button:hover,
#main_content a.button-lg:hover {
  background-color: #4D688C;
  border-color: #222222;
  color: #FFFFFF;
}
.button-lg {
  font-size: 150%;
  padding: 0.75em 2em;
}

/* ==========================================================================
   Flexslider
   ========================================================================== */
.flexslider {
  border: none;
  margin: 0;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.flexslider .slides > li {
  margin: 0;
}
.flexslider a,
#main_content .flexslider a:visited {
  color: #FFFFFF;
  text-decoration: none;
}
.flex-direction-nav li {
  margin: 0;
}
.flex-direction-nav a {
  top: 45%;
}
.flex-direction-nav a:before {
  line-height: 1;
}
.flex-direction-nav .flex-prev {
  left: 10px;
}
.flex-direction-nav .flex-next {
  right: 10px;
}
.flex-direction-nav a:focus {
  outline: none;
}
.flex-control-paging {
  padding: 20px 0;
  position: static;
}
.flex-control-paging li a {
  background: #E5E9EF;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
  -webkit-box-shadow: 0px 0px 1px #000000 inset;
  -moz-box-shadow: 0px 0px 1px #000000 inset;
  box-shadow: 0px 0px 1px #000000 inset;
}
.flex-control-paging li a:hover {
  background: #4D688C;
}
.flex-control-paging li a.active {
  background: #072E5A;
}

.flex-caption {
  background: none repeat scroll 0 0 rgba(0, 0, 0, 0.3);
  bottom: 0;
  color: #FFFFFF;
  font-size: 14px;
  left: 0;
  line-height: 18px;
  margin: 0;
  padding: 2%;
  position: absolute;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.3);
  width: 96%;
}

/* ==========================================================================
   Portfolio Photo Gallery
   ========================================================================== */
.portfolio {
  text-align: justify;
}
.portfolio,
.portfolio li {
  list-style: none;
  margin: 0;
}
.portfolio:after{
  content: '';
  display: inline-block;
  width: 100%;
}
.portfolio li {
  display: inline-block;
  margin-bottom: 1.5em;
  text-align: left;
  width: 23%;
}
@media screen and (max-width: 1000px) {
  .portfolio li {
    width: 31%;
  }
}
@media screen and (max-width: 650px) {
  .portfolio li {
    width: 48%;
  }
}
@media screen and (max-width: 350px) {
  .portfolio li {
    width: 100%;
  }
}
.lt-ie8 .portfolio li {
  display: inline;
  margin-right: 1%;
}

.portfolio__title {
  margin-bottom: 0.5em;
}
.portfolio img {
  height: auto;
  max-width: 100%;
}
.ie8 .portfolio img {
  max-width: auto;
  width: 100%;
}