body {
  color: #222;
  font-family: "Lucida Grande","Lucida Sans","Verdana",sans-serif;
  margin: 20px;
}
p {
  margin-top: 0;
}

/* Headings */
h3, h4, h5, h6 {
  color: #002855;
  font-weight: bold;
  line-height: 1.2;
  margin: 1em 0 0.15em;
  padding: 0;
}

/* Alignments */
.align-left {
  float: left;
  margin: 0 1.5em 0.75em 0;
}
.align-right {
  float: right;
  margin: 0 0 0.75em 1.5em;
}
img.align-left,
img.align-right {
  /*border: 3px solid #D3D3D3;*/
}

.clear-align {
  clear: both
}

/* buttons */
a.button,
a.button-lg {
  background-color: #072E5A;
  border: 1px solid #222222;
  color: #FFFFFF;
  margin-right: 0.5em;
  padding: 0.5em 1.5em;
  text-decoration: none;
}
a.button-lg {
  font-size: 150%;
  padding: 0.75em 2em;
}