/*
 * Add css here to make custom panel layouts work in the admin
 */

.column {
  float: left;
}
.semantic_column_header {
  display: none;
}

/* Default Layout */
#main_section {
  display: inline;
  float: left;
  overflow: hidden;
  position: relative;
  width: 80%;
  left: 20%;
}
#center_column {
  float: left;
  overflow: hidden;
  width: 75%;
}
#right_column {
  overflow: hidden;
  width: 25%;
}
#main_sidebar {
  display: inline;
  float: left;
  left: -80%;
  position: relative;
  width: 20%;
}
.full-width #main_section {
  left: 0;
  width: 100%;
}

/* custom layouts */
.cms-2col-50-50-stacked .column {
  width: 50%;
}
.cms-3col-33-33-33-stacked .column {
  width: 33%;
}
.bottom_column {
  clear: both;
}