/* Custom CSS styles go here. */
#header {
    background: #FFF;
}

#header_content {
    background: #FFF;
}

#site_title #title.logo {
    padding-top: 0px;
}

#nav .bar_1 .nav_content ul li a:hover{
    background-color: #4D688C;
}
#nav .bar_1 ul li {
    border-left: 0px;
}
.bar_1 .nav_content {
    background-color: #335379;
    color: #335379;
}
.bar_1 .nav_content {
    background: #335379;
}
#nav .bar_1 {
    background-color: #335379;
}

#nav {
    border-bottom: 0px;
}
#site_title {
    background-color: #FFF;
}


/* End Custom CSS styles go here. */
/*----------------boxes-------------------------*/
.content_box .headline_top {
    background-color: #335379;
    border-bottom: 1px solid #335379;
}

.content_box .headline {
    color: #fff;
    border-bottom: 1px solid #F8EECC;
    /* width: 90.3%;*/
}

.content_box .border_box {
    border: 1px solid #cccccc;
    background: #E5E9EF;
}

.form-item, .form-actions {
    margin-top: 1em;
    margin-bottom: 1em;
    padding-left: 10px;
}

a.menu-900, ul.links li.menu-900 a {
    background-image: url(/sites/default/files/styles/menu_icon/public/menu_icons/menu_icon_900.png);
    padding-right:40px;
}

.content_box li, .column li {
    /*line-height: 100%;*/
    font-size: 0.8em;
}

.content_box p, .column p {
    padding: 0;
    line-height: 140%;
    font-size: .9em;
    color:#666666;
}



/*----------------end boxes-----------------------*/




body {
    background-color: #FFFFFF;
}
#main {
    background-color: #FFFFFF;
}
#main_content{
    background-color: #FFFFFF;
    border-right: 0px solid #CCD4E0;
    border-left: 0px solid #CCD4E0;
    border-bottom: none;
    padding: 0 20px;
}
.flexslider .slides img {
    display: block;
    width: 100%;
}

#hero_banner_container {
    display: block;
    top: 0px;
    position: relative;
    width: 100%;
    max-width: 1360px;
    margin: 0 auto;
    padding: 0;
}
#footer {
    background-color: #FFFFFF;
}
#footer_content {
    border-top: none;
    border-right: 0px solid #CCD4E0;
    border-left: 0px solid #CCD4E0;
    border-bottom: none;
    padding: 0 20px;
}